.d1
{
    display: grid;
    /* border: 2px solid #05356B;
    border-radius: 15px; */
    align-content: center;
    justify-content: center;
    color: black;
}
.draw
{
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    color: black;
    padding-left: 6em;
    
}
.draw1
{
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    color: black;
    padding-left: 6em;
    
}
.dw
{
    display: flex;
    align-content: center;
    justify-content: center;
    color: black;
}
.dep {
    display: grid;
    /* align-content: center; */
    /* justify-content: center; */
    padding-left: 2em;
    text-align:center;
    
}
.de {
    display: grid;
    /* align-content: center; */
    justify-content:center;
    color: black;
   border: 0.5px solid rgb(143, 138, 138);
   border-radius: 2em;
   padding: 1em;
}

.dee {
   
    color: black;
   border: 0.5px solid rgb(143, 138, 138);
   border-radius: 2em;
   padding: 1em;
   text-align:center;
}
.d
{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: black;
}
.f1
{
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-content: space-around; 
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}
.color
{
    display: flex;
    color:#05356B;
    align-content: space-between;
    justify-content: space-between;
    direction: flex-end;
    background-color:#5CDB95;    
}
.co {
    display: flex;
    color:darkseagreen;
    align-content: center;
    justify-content: center;
    direction: flex-end;
    background-color:#5CDB95;    
}
.per {
    display: flex;
    align-content: center;
    justify-content: center;
}
.per img{
    display: flex;
    width: 100%;
    height: 300%;
    
    align-content: center;
    justify-content: center;
}
.phi
{
    color: black;
    text-emphasis-color: black;
}
.color1
{
    color: #05356B;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.colored-section img{   
    display: grid; 
    /* border: 2px solid #05356B;
    border-radius: 15%;     */
    align-content: center;
    justify-content: center;
    height: auto;
    width: 25%;
    /* color: #05356B; */
  }
  
  .carousel-text {
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
  }
 .navbar{
     text-align: center;
 }
  
  .rd{
      padding-left: 0em;
      padding-right: 0em;
      padding-top: 0em;
      background-color:white;
  }
  .r1{
      /* padding:1em; */
      text-align: center;
      padding-top:2px;
  }
  h5{
      text-align: center;
  }
  h2{
      text-align: center;
  }
  body {
    overflow-x:hidden;
}
.rhn{
    background-color: black;
    color:white;
    padding: 2em;
}